@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,900&display=swap');

.header {
  margin-bottom: 40px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #000;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 90px;
  letter-spacing: 2px;
}

.link {
  display: flex;
  gap: 3px;

  svg {
    width: 22px;
    height: 22px;
  }

  &:hover {
    border-bottom: 1px solid #000;
  }
}